.bannerContainer {
  height: 100vh;
  min-height: 64.7rem;
  position: relative;
}
.bannerContainer.loaded {
  .banner__title {
    animation: slideUpSm 1.4s ease;
  }
  .banner__desc {
    animation: slideUpMd 1.4s ease;
  }
  .bannerContainer__social {
    animation: slideUp 1.4s ease;
  }
  .bannerContainer__next {
    animation: slideUp 1.4s ease;
  }
}
.bannerContainer__social {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  pointer-events: none;
  padding-left: 1.3rem;
}
.bannerContainer__next {
  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  pointer-events: none;
}
.banner {
  &__title {
    @extend %fs-h1;
  }
  &__desc {
    font-size: 2.4rem;
    line-height: 1.1;
    margin-top: 4.3rem;
    font-weight: 700;
  }
  &__content {
    max-width: 79rem;
  }
}
@include breakpoint(tablet) {
  .bannerContainer {
    margin-top: 3.6rem;
    margin-bottom: 10.6rem;
    min-height: auto;
  }
  .banner__desc {
    margin-top: 4rem;
  }
  .bannerContainer__social {
    position: static;
  }
  .bannerContainer__social {
    padding: 0;
    margin-top: 4rem;
  }
  .bannerContainer__next {
    position: static;
    margin-top: 21.2rem;
  }
}
@include breakpoint(small-mobile) {
  .banner__title {
    font-size: 3rem;
  }
};