body.blackPage .breadcrumbs {
  li {
    display: inline;
    &:after {
      color: rgba(103, 103, 103, 1);
    }
    &:last-child {
      display: block;
      a {
        color: white !important;
      }
    }
    a {
      color: rgba(103, 103, 103, 1);
      &:hover {
        color: white;
      }
    }
  }
}

.breadcrumbs {
  padding-bottom: 2rem;
  padding-top: 12rem;

  @extend %fs-t6;

  @include breakpoint(tablet) {
    padding-top: 6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
  }
  @include breakpoint(mobile) {
    margin-top: 0;
  }

  li {
    display: inline;
    &:after {
      content: "\00a0 /\00a0 ";

      color: rgba(103, 103, 103, 1);
    }
    &:last-child {
      display: block;

      margin-top: 1.1rem;
      
      @extend %fs-h2;
      &:after {
        content: "";
      }

      a {
        color: $dark !important;
        pointer-events: none;
        cursor: default;
      }
    }
    a {
      color: $dark;
      transition: color 0.3s ease;
      &:hover {
        color: $gray3;
      }
    }
  }
}