.breadcrumbs {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 17px;

  li {
    display: inline;
    &:after {
      content: "\00a0 /\00a0 ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    a {
      color: rgba(103, 103, 103, 1);
      transition: color 0.3s ease;
      &:hover {
        color: $dark2;
      }
    }
  }
}