.breadcrumbs {
  font-size: 1.3rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  margin-top: 12rem;

  @include breakpoint(tablet) {
    margin-top: 6rem;
  }
  @include breakpoint(small-tablet) {
    margin-top: 4rem;
  }
  @include breakpoint(mobile) {
    margin-top: 0;
  }

  li {
    display: inline;
    &:after {
      content: "\00a0 /\00a0 ";
    }
    &:last-child {
      &:after {
        content: "";
      }
    }
    a {
      color: rgba(103, 103, 103, 1);
      transition: color 0.3s ease;
      &:hover {
        color: $dark2;
      }
    }
  }
}