.car_video {
  position: fixed;
  top: -0.7rem;
  right: -36rem;
  width: 168rem;
  height: 105rem;
  transition: transform .1s linear, opacity .3s linear .3s;
  z-index: -1;
  opacity: 0;

  @include breakpoint(tablet) {
    width: 110rem;
    height: 68rem;
    top: 0.6rem;
    right: -42rem;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  circle {
    opacity: 0.5;
  }
  image {
    transition: opacity .4s ease;
    mask: url("#cursorMask");

    @include breakpoint(tablet) {
      width: 110rem;
      height: 68rem;
    }
  }
  &.loaded {
    opacity: 1;
  }
}
.car_video--filled {
  image {
    opacity: 0;
  }
  circle {
    opacity: 0;
  }
}
.car_video__second_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.car_video__mark {
  position: absolute;
  transition: opacity .2s ease;
  z-index: 1;
  opacity: 0.5;
  width: 6.4rem;
  height: 6.4rem;
  @include breakpoint(tablet) {
    display: none;
  }
  &.active {
    opacity: 1;
    .car_video__mark_content {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.disabled {
    opacity: 0;
    .car_video__mark_content {
      opacity: 0;
      pointer-events: none;
    }
  }
  svg {
    width: 6.4rem;
    height: 6.4rem;

    fill: none;
  }
}
.car_video__mark--materials {
  top: 43rem;
  right: 74.6rem;
}
.car_video__mark_content {
  position: absolute;
  left: -4.7rem;
  top: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease, transform .2s ease;
  width: 31rem;
  padding-top: 3.5rem;
  transform: translate(0, 2rem);
}
.car_video__mark_icon {
  margin-right: 1.5rem;
  width: 6.4rem;
  height: 6.4rem;
  flex-shrink: 0;
  svg {
    display: block;
    max-width: 6.4rem;
    max-height: 6.4rem;
  }
}
.car_video__mark_title {
  position: relative;
  @extend %fs-t2;
  color: #fff;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.car_video__mark_title-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;
  background-color: red;
}
.car_video__mark_link {
  @extend %fs-t2;
  color: var(--primary-color) !important;
  font-weight: 500;
}