@keyframes markRotation {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(3600deg);
  }
}

.car_video {
  position: fixed;
  top: -0.7rem;
  right: -36rem;
  width: 168rem;
  height: 105rem;
  transition: transform .1s linear, opacity .3s linear .3s;
  z-index: -1;
  opacity: 0;

  video {
    mix-blend-mode: saturation;
  }

  @include breakpoint(small-tablet) {
    width: 110rem;
    height: 68rem;
    top: 0.6rem;
    right: -42rem;
  }

  .circle-text-car {
    position: absolute;
    top: 52.38%;
    left: 50.119%;

    transform: translate(-50%, -50%);
    transform-origin: center center;

    animation-name: markRotation;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    .circle-text-car-image {
      transition: transform 0.3s ease, opacity 0.3s ease;
    }

    &.hidden .circle-text-car-image {
      opacity: 0;
      transform: scale(1.2);
    }

    &.hide {
      opacity: 0;
    }

    @include breakpoint(small-tablet) {
      opacity: 0;
    }
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  circle {
    opacity: 0.5;

    transition: r 0.3s ease, cx linear, cy linear;

    @include breakpoint(small-tablet) {
      opacity: 0;
    }
  }
  svg mask rect {
    fill: rgba(255, 255, 255, 1);
  }
  svg g {
    transition: opacity .4s ease;
    mask: url("#cursorMask");

    @include breakpoint(small-tablet) {
      width: 110rem;
      height: 68rem;
    }
  }
  &.loaded {
    opacity: 1;
  }
}
.car_video--filled {
  g {
    opacity: 0;
  }
  circle {
    opacity: 0;
  }
}
.car_video__second_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.marks {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - var(--sb-width));
  height: 100vh;

  overflow: hidden;
}
.car_video__mark {
  position: absolute;
  transition: opacity .2s ease;
  z-index: 1;
  opacity: 0.5;
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  font-family: "Magistral", "Arial", sans-serif;;
  @include breakpoint(small-tablet) {
    display: none;
  }
  &.active {
    opacity: 1;
    .car_video__mark_content {
      transform: translate(0, 0);
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.disabled {
    opacity: 0;
    .car_video__mark_content {
      opacity: 0;
      pointer-events: none;
    }
  }
  svg {
    width: 6.4rem;
    height: 6.4rem;

    fill: none;
  }
}
.car_video__mark--materials {
  // top: 43rem;
  // right: 74.6rem;
}
.car_video__mark_content {
  position: absolute;
  left: -4.7rem;
  top: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity .2s ease, transform .2s ease;
  width: 31rem;
  padding-top: 3.5rem;
  transform: translate(0, 2rem);
}
.car_video__mark_icon {
  margin-right: 1.5rem;
  flex-shrink: 0;
  img {
    display: block;
    width: 6.4rem;
    height: auto;
    object-fit: contain;
  }
}
.car_video__mark_title {
  position: relative;
  @extend %fs-t2;
  color: #fff;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.car_video__mark_title-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80%;
  height: 80%;
  background-color: red;
}
.car_video__mark_link {
  @extend %fs-t2;
  color: var(--primary-color) !important;
  font-weight: 500;
}