.catalogContainer {
  margin-bottom: 4.4rem;
  margin-top: 3rem;
}
.catalogFilter {
  margin-bottom: 6.4rem;
  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
  &--title {
    @extend %fs-t6;
    color: rgba(103, 103, 103, 1);
    margin-bottom: 1.1rem;
  }
  &__categories {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-bottom: -1rem;
    @extend %fs-t2;

    @include breakpoint(small-mobile) {
      display: none;
    }

    li {
      position: relative;
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    a {
      padding: 1.1rem 1.2rem;
      display: inline-block;
      border-radius: 2rem;
      border: 0.1rem solid rgba(34, 34, 34, 0.2);

      transition: border-color 0.3s ease;

      &.active {
        color: $black;
        border-width: 0.3rem;
        border-color: $black;

        &:hover {
          border-color: $black;
        }
  
        &:focus-visible {
          border-color: $black;
        }
      }

      &:hover {
        border-color: rgba(34, 34, 34, 0.6);
      }

      &:focus-visible {
        border-color: rgba(34, 34, 34, 0.6);
      }
    }
  }
  &__mobile-dropdown {
    display: none;
    position: relative;
    background-color: #f5f5f5;

    @include breakpoint(small-mobile) {
      display: block;
    }
    &-btn {
      background-color: rgba(0,0,0,0);
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1rem 2.2rem 1rem 2.8rem;
      text-align: left;
      border: 0.2rem solid #222222;
      border-radius: 6rem;
    }
    &-btn-label {
      @extend %fs-t5;
    }
    svg {
      width: 1.4rem;
      height: 1.4rem;
    }
    &-list {
      position: absolute;
      top: calc(100% + 0.4rem);
      left: 0;
      z-index: 2;

      display: flex;
      flex-direction: column;

      width: 100%;
      border: 0.2rem solid #222222;
      border-radius: 2rem;
      padding: 2rem 0;

      background-color: #f5f5f5;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease, visibility 0.3s ease;

      &.active {
        opacity: 1;
        visibility: visible;
      }
      li {
        border-bottom: 0.1rem solid rgba(#222, 0.5);
        &:last-of-type {
          border-bottom: none;
        }
      }
      a {
        display: block;
        padding: 1.2rem 2.2rem 1.2rem 2.8rem;
      }
    }
  }
}
.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 8rem;
  row-gap: 7.4rem;
  margin-bottom: 4rem;

  @include breakpoint(small-tablet) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    row-gap: 4rem;
  }
  @include breakpoint(small-mobile) {
    grid-template-columns: 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    justify-items: center;
  }

  .catalogInfo {
    grid-column: span 2;
    @include breakpoint(small-mobile) {
      grid-column: span 1;
    }
  }
}
.catalogInfo {
  display: flex;
  align-items: flex-start;
  margin-top: 4rem;
  @include breakpoint(tablet) {
    margin-top: 0;
  }
  
  &__mobile-hidden {
    @include breakpoint(small-mobile) {
      max-height: 12.6rem;
      overflow: hidden;
      mask-image: linear-gradient(to top, transparent 0%, #000 28%);
      transition: max-height 0.1s linear;
    }
    &.active {
      mask-image: none;
      max-height: 100rem;
      transition: max-height 0.5s linear;
    }
    &-button {
      margin-top: 2.7rem;
      display: none;
      width: 100%;
      border: 0.1rem solid var(--primary-color);
      border-radius: 2rem;
      padding: 1rem 2rem;
      background: none;
      @extend %fs-t2;
      text-transform: uppercase;
      color: var(--primary-color);
      @include breakpoint(small-mobile) {
        display: block;
      }
    }
  }
  &__content {
    width: 100%;
  }
  &__title {
    @extend %fs-h3;
    margin-bottom: 2rem;
  }
  &__desc {
    @extend %fs-t3;
    margin-bottom: 4.8rem;
    @include breakpoint(small-mobile) {
      margin-bottom: 2.4rem;
    }
  }
  &__adv {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2rem;
    margin-bottom: -2rem;
    li {
      margin-right: 2rem;
      margin-bottom: 2rem;
      width: 35%;
      display: flex;
      align-items: center;

      @include breakpoint(small-tablet) {
        width: calc(50% - 2rem)
      }

      span {
        @extend %fs-h3;
        color: $accent;
        margin-right: 2rem;
      }
      p {
        @extend %fs-t2;
      }
    }
  }
}
.catalogItem {
  position: relative;
  padding-top: 5.7rem;
  min-height: 48rem;
  @include breakpoint(small-mobile) {
    max-width: 32.5rem;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 48rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $white;
    z-index: -1;
    border-radius: 22rem;
    transition: all 0.3s ease;

    @include breakpoint(small-mobile) {
      max-width: 25rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &:hover {
    &:before {
      width: 90%;
      height: 43rem;
      top: 2.4rem;
    }
    .catalogItem__img {
      transform: scale(1.1);
    }

    .catalogItem__button {
      background-color: rgba(0,0,0,0);
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
  &__img {
    width: 25rem;
    width: calc(100% - 4rem);

    text-align: center;
    margin: 0 auto;
    margin-bottom: 5.6rem;
    transition: all 0.3s ease;

    img {
      display: inline;
      max-height: 25rem;
      width: auto;
      object-fit: contain;
    }
  }
  &__button {
    @extend %fs-b2;
    padding: 1rem 1.6rem;
    color: white;
    background-color: $accent;
    border-radius: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: inline-block;
    border: solid 1px var(--primary-color);

    transition: color $base-transition-time $base-transition-easing, background-color $base-transition-time $base-transition-easing, border-color $base-transition-time $base-transition-easing;
  }
  &__name {
    @extend %fs-t1;
    font-weight: 400;
  }
}
.catalog-new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  row-gap: 3.5rem;
  margin-bottom: 8rem;
  margin-right: 0;

  @include breakpoint(small-tablet) {
    grid-template-columns: 1fr;
  }

  .catalogItem {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

    min-height: 28.5rem;
    width: 100%;
    margin: 0;
    padding-top: 0;

    img {
      max-height: unset;
    }

    &:nth-of-type(1) {
      img {
        width: 14.5rem;
        height: auto;
        @include breakpoint(small-mobile) {
          width: 11.6rem;
        }
      }
    }
    &:nth-of-type(2) {
      img {
        width: 23.6rem;
        height: auto;
        @include breakpoint(small-mobile) {
          width: 19rem;
        }
      }
    }
    &:nth-of-type(3) {
      img {
        width: 13.5rem;
        height: auto;
        @include breakpoint(small-mobile) {
          width: 10.8rem;
        }
      }
    }
    &:nth-of-type(4) {
      img {
        width: 29rem;
        height: auto;
        right: 2rem;
        top: 6rem;
        @include breakpoint(small-mobile) {
          width: 23rem;
        }
      }
    }
    &:hover {
      .catalogItem__img {
        transform: scale(1);

        img {
          top: 2rem;
          transition: top 0.5s ease;
        }
      }
      .catalogItem__button {
        background-color: var(--primary-color);
        color: white !important;
      }
    }
    &::before {
      content: none;
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;

      margin-bottom: 0;

      background: $white;
      border-radius: 30rem;
      overflow: hidden;

      @include breakpoint(small-mobile) {
        max-height: 18rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        width: 100%;
        height: 100%;

        background: linear-gradient(90.22deg, rgba(255, 255, 255, 0.6) 0.18%, rgba(255, 255, 255, 0) 99.79%);
        opacity: 0.4;

        pointer-events: none;
      }
      img {
        position: absolute;
        right: 6.7rem;
        top: 5.2rem;

        width: 30%;
        height: auto;
        object-fit: contain;
        transition: top 0.3s ease;

        @include breakpoint(small-mobile) {
          right: 50%;
          transform: translateX(50%);
          top: 3rem;
        }
      }
    }
    &__name {
      position: relative;
      z-index: 2;
      max-width: 30rem;
      @extend %fs-t1;

      margin-bottom: 2rem;

      @include breakpoint(small-mobile) {
        margin-bottom: 1.2rem;
      }
    }
    &__button {
      position: relative;
      z-index: 2;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;

      margin-bottom: 0;

      background-color: rgba(0,0,0,0);
      padding: 1rem 1.6rem;
      color: $accent;
      border: 0.1rem solid var(--primary-color);
      border-radius: 2rem;

      @extend %fs-b2;

      transition: background-color 0.3s ease, color 0.3s ease;

      svg {
        margin-bottom: 0.2rem;
      }
    }
  }
}