.contacts {

  padding-top: 8rem;
  padding-bottom: 4rem;

  @include breakpoint(mobile) {
    padding-top: 4rem;
  }

  &__inner {
  }

  &__phone-block {
    margin-bottom: 4rem;
    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.8rem;

    @extend %fs-t3;
    line-height: 1.2;
    font-style: normal;
  }

  &__phone {
    @extend %fs-h3;
  }

  &__contacts-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    margin-bottom: 4rem;

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      gap: 1.8rem;
    }
  }

  &__contacts-item {
    &.mobile {
      display: none;
      @include breakpoint(small-tablet) {
        display: block;
      }
    }
  }

  &__contact-link {
    @extend %fs-t3;
    line-height: 1.2;
    color: var(--primary-color) !important;
  }

  &__map-mobile-btn-block {
    position: relative;

    display: none;
    align-items: center;
    justify-content: center;

    min-height: 11.6rem;
    margin: 0 -2.5rem;

    @include breakpoint(small-tablet) {
      display: flex;
    }
  }

  &__map-mobile-bg-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__map-wrapper {
    @include breakpoint(small-tablet) {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.3s ease, transition 0.3s ease;

      width: 100%;
      height: 100%;

      padding: 6rem 2.5rem 4rem;

      background-color: #151515;
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__map-wrapper-close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    display: none;

    color: var(--primary-color);

    @include breakpoint(small-tablet) {
      display: block;
    }
  }

  &__map {
    height: 48rem;

    background-color: $gray;
    border-radius: 2.4rem;
    overflow: hidden;

    @include breakpoint(small-tablet) {
      width: 100%;
      height: 100%;
    }

    [class*="ymaps-2"][class*="-ground-pane"] {
      filter: grayscale(100%);
    }

    .placemark {
      width: 25rem;
    }

    .placemark__image {
      width: 3.6rem;
      height: 3.6rem;
      margin-bottom: 0.8rem;
    }

    .placemark__label {
      display: block;
      margin-left: 3.5rem;

      color: white;
      @extend %fs-t3;
    }
  }

  &__map-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 602;

    width: 100%;
    height: 100%;

    pointer-events: none;

    background-color: rgba(0,0,0,0.8);
  }
}