.contacts-form {

  padding-bottom: 4rem;

  @include breakpoint(mobile) {
    padding-bottom: 3rem;
  }

  &__inner {
    padding: 8rem;

    background: #1C1C1C;
    border: 0.3rem solid var(--primary-color);
    border-radius: 2.4rem;

    @include breakpoint(tablet) {
      padding: 6rem;
    }
    @include breakpoint(small-tablet) {
      padding: 4rem 3rem;
    }
  }

  &__text {
    margin-bottom: 5rem;

    @include breakpoint(small-tablet) {
      margin-bottom: 3.4rem;
    }
  }
}