.custom-gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 110;
  padding: 8rem 4rem 4rem;

  background-color: rgba(0, 0, 0, 0.8);

  opacity: 0;
  visibility: hidden;

  transition: opacity $base-transition-time $base-transition-easing, visibility $base-transition-time $base-transition-easing;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    position: absolute;
    top: 42px;
    right: 42px;
    color: white;
    @extend %fs-b2;
    cursor: pointer;

    &:hover {
      color: $accent !important;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 4rem;

    height: 100%;
    max-width: 130rem;
    margin: 0 auto;

    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;

      .ghost {
        display: none;
      }
    }
  }

  &__full-image-slider {
    width: 100%;
  }

  &__full-image-slider-wrapper {
  }

  &__full-image-slide {
    position: relative;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: auto;
      max-height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }

  &__thumbs-slider {
    @include breakpoint(small-tablet) {
      display: none;
    }
  }

  &__thumbs-slider-wrapper {
  }

  &__thumbs-slide {
    cursor: pointer;
    &.swiper-slide-thumb-active {
      border: 0.2rem solid white;
    }

    img {
      position: relative;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      object-fit: cover;
    }
  }
}