.accent-feature {
  padding: 6rem 0;

  @include breakpoint(mobile) {
    padding: 3rem 0;
  }
}

.features_section__head {
  margin-bottom: 6.2rem;
  .section_title {
    line-height: 1;
  }
}
.features_section__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
}
.features_section__col {
  width: 50%;
  padding: 0 1rem;
}
.features_section__text {
  @extend %fs-t5;
  p {
    color: #d8d8d8;
    font-weight: 500;
    @extend %fs-t1;

    @include breakpoint(small-tablet) {
      font-weight: 400;
    }
  }
  line-height: 1.1;
  max-width: 45rem;
}
@include breakpoint(tablet) {
  .features_section__text {
    margin-bottom: 1rem;
  }
};
@include breakpoint(small-tablet) {
  .features_section__col {
    width: 100%;
    margin-bottom: 4rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.features_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;

  @include breakpoint(tablet) {
    margin-bottom: -1rem;
  }
}
.features_list__item {
  padding: 0 1rem;
  width: 25%;
  @include breakpoint(tablet) {
    width: 100%;
    margin-bottom: 1rem;
  }
  .feature {
    height: 100%;
  }
}


.feature {
  position: relative;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 6.4rem 10rem 10rem;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(tablet) {
    padding: 6rem 3rem;
  }
}

.feature__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.feature__title {
  position: relative;
  z-index: 2;

  color: var(--primary-color);
  @extend %fs-h2;
  margin-bottom: 0.4rem;
  font-weight: 500;

  @include breakpoint(tablet) {
    margin-bottom: 0.5rem;
  }
}
.feature__text {
  color: #d8d8d8;
  position: relative;
  z-index: 2;

  @extend %fs-t3;
}
.feature--sm {
  padding: 3rem 2.6rem;
  @include breakpoint(tablet) {
    padding: 3rem 3rem;
  }
  .feature__title {
    @extend %fs-t1;
    margin-bottom: 1rem;
  }
}
[data-feature-anim-scale] {
  transition: transform .8s ease;
}