.footer {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.footer__head {
  margin-bottom: 78px;
  @include breakpoint(tablet) {
    margin-bottom: 40px;
  }
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3rem;
  }
  @include breakpoint(mobile) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
.footer__nav_col {

}
.footer__nav_col--right {
  grid-column: 6/7;

  @include breakpoint(tablet) {
    grid-column: 3/4;
  }
  @include breakpoint(mobile) {
    grid-column: unset;
  }
}
.footer__label {
  @extend %fs-t4;
  margin-bottom: 5px;
}
.footer__link {
  position: relative;

  color: var(--primary-color) !important;
  @extend %fs-t4;

  &::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--primary-color);

    opacity: 0;

    transition: opacity 0.3s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
  &:focus-visible {
    &::after {
      opacity: 1;
    }
  }
}

span.footer__link {
  color: #D8D8D8 !important;

  &::after {
    content: none;
  }
}
.footer.light {
  span.footer__link {
    color: $dark2 !important;
  }
}
.footer__content {
  transition: transform 1s ease;
  transform: translateY(100%);

  @include breakpoint(tablet) {
    transform: none;
  }
}
.footer__content.animated {
  transform: translate(0, 0);
}
.footer__logo {
  img {
    max-width: 100%;

    @include breakpoint(mobile) {
      width: 8.8rem;
      height: auto;
      object-fit: contain;
    }
  }
}

.made-by {
  svg {
    width: 2.7rem;
    height: 0.8rem;
  }
}

.made-by__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: fit-content;
  margin-top: 0.8rem;

  @extend %fs-t4;

  transition: color 0.3s ease;

  &:hover {
    color: var(--primary-color) !important;
  }
  &:focus-visible {
    color: var(--primary-color) !important;
  }
}