.geography_section {
  position: relative;
  padding-top: 71px;
  height: 938px;
  overflow: hidden;
}
.geography_section__title {
  line-height: 1;
  position: relative;
  z-index: 1;
}
.geography_section__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform .2s linear;
}
.geography_section__map_img_mob {
  display: none;
  width: 874px;
}
@include breakpoint(tablet) {
  .geography_section {
    padding-top: 0;
  }
  .geography_section__map_img {
    display: none;
  }
  .geography_section__map_img_mob {
    display: block;
    max-width: unset;
  }
  .geography_section__map {
    top: -31px;
    left: -107px;
    overflow: hidden;
    width: calc(100% + 107px);
  }
  .geography_section {
    height: 503px;
  }
  .geography_section {
    overflow: visible;
  }
};