.go_next {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  @extend %fs-t1;
  pointer-events: auto;
  color: #D8D8D8;
}
.go_next__icon_wrap {
  margin-left: 133px;
  color: var(--primary-color);
  @extend %fs-b2;
  height: 20px;
  overflow: hidden;

  @include breakpoint(tablet) {
    margin-left: 23px;
  }
}
.go_next__icon {
  display: flex;
  flex-direction: column;
  animation: nextIcon 1s infinite linear;
  i {
    margin-bottom: 9px;
  }
}