.intro-text {
  padding-top: 3rem;
  padding-bottom: 6rem;

  @include breakpoint(small-tablet) {
    padding-bottom: 3rem;
  }

  @include breakpoint(mobile) {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
  
  &__text {
    color: #d8d8d8;
    max-width: 80rem;

    @include clamp(16, 24);
    font-weight: 500;
    line-height: 1.1;
  }
}