.intro-title {
  &__title {
    @extend %fs-h2;
  }
}

.intro-text {
  padding-top: 3rem;
  padding-bottom: 6rem;

  @include breakpoint(small-tablet) {
    padding-bottom: 3rem;
  }
  
  &__text {
    @include clamp(16, 24);
    font-weight: 500;
    line-height: 1.1;
  }
}