.orderPopup {
  &__title {
    color: white;
    margin-bottom: 60px;
    @include breakpoint(small-tablet) {
      margin-bottom: 40px;
    }
  }
  &__content {
    display: flex;
    align-items: flex-start;
  }
  &__left {
    width: 300px;
    margin-right: 85px;
    @include breakpoint(small-tablet) {
      display: none;
    }
  }
  &__right {
    width: calc(100% - 385px);
    @include breakpoint(small-tablet) {
      width: 100%;
    }
  }
  &__img {
    padding: 80px 20px;
    background-color: $white;
    border-radius: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 250px;
      width: auto;
    }
  }
}