.output_section {
  margin-bottom: 196px;
}
.output_section__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 31px;
}
@include breakpoint(tablet) {
  .output_section__title {
    font-size: 13px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .output_section {
    margin-bottom: 80px;
  }
};