.output_section {
  margin-bottom: 196px;
}
.output_section__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 31px;
}
@media (max-width: 1199px) {
  .output_section__title {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px;
  }
  .output_section {
    margin-bottom: 80px;
  }
};