.output_section {
  margin-bottom: 196px;
}
.output_section__title {
  @extend %fs-t1;
  margin-bottom: 31px;
}
@include breakpoint(tablet) {
  .output_section__title {
    margin-bottom: 20px;
  }
  .output_section {
    margin-bottom: 80px;
  }
};