.partners {

  padding: 6rem 0;

  overflow: hidden;

  .swiper {
    overflow: visible;
  }

  @include breakpoint(small-tablet) {
    padding: 4rem 0;
  }

  &__title {
    margin-bottom: 3rem;

    @extend %fs-h3;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2rem;

    @include breakpoint(small-tablet) {
      gap: 1rem;
    }
    @include breakpoint(mobile) {
      display: flex;
      gap: 0;
    }
  }

  &__list-item {
    grid-column: span 3;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 5;

      .partners__list-item-link {
        height: 22rem;

        @include breakpoint(small-tablet) {
          height: 15rem;
        }
        @include breakpoint(mobile) {
          height: 10rem;
        }
      }
    }

    @include breakpoint(mobile) {
      flex-shrink: 0;

      width: 16rem;
    }
  }

  &__list-item-link {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 17rem;
    background-color: black;
    padding: 2.4rem;

    height: 15rem;

    @include breakpoint(small-tablet) {
      height: 12rem;
    }
    @include breakpoint(mobile) {
      height: 10rem;
    }
  }

  &__list-item-image {
    display: block;

    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100%;

    object-fit: contain;
  }

  &__list-item-name {
    @extend %fs-t6;
    letter-spacing: -0.01em;
    font-weight: 700;
    text-align: center;
  }

  &__button-container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2rem;

    margin-top: 2rem;
  }

  &__button {
    grid-column: 10 / span 6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    min-height: 15rem;

    border: 1px solid var(--primary-color);
    border-radius: 170px;

    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--primary-color) !important;

    @include breakpoint(small-tablet) {
      min-height: 12rem;

      font-size: 18px;
    }

    @include breakpoint(mobile) {
      grid-column: span 15;

      min-height: 8rem;
    }
  }
}