.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
  z-index: 100;
  color: $white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__scroll {
    height: 100%;
    position: relative;
  }
  &__close {
    position: absolute;
    top: 42px;
    right: 42px;
    color: $white;
    font-size: 18px;
    cursor: pointer;
  }
}
.popupContainer {
  padding: 80px 0;
  &.hidden {
    display: none;
  }
}