.productDetailPage {
  margin-bottom: 103px;
}
.productDetail {
  margin-bottom: 109px;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  line-height: 24px;
  @media (max-width: 1023px) {
    flex-direction: column;
    margin-bottom: 80px;
  }
  @media (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__left {
    width: 300px;
    margin-right: 90px;
    @media (max-width: 1023px) {
      margin-right: 0;
      margin-bottom: 90px;
      max-width: 300px;
      width: 100%;
      align-self: center;
    }
  }
  &__right {
    width: calc(100% - 390px);
    @media (max-width: 1023px) {
      width: 100%;
    }
  }
  &__text {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__img {
    padding: 115px 20px;
    background-color: $white;
    border-radius: 220px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-height: 250px;
    }
  }
  &__button {
    position: absolute;
    bottom: -35px;
    width: 100%;
    background-color: $accent;
    border-radius: 120px;
    padding: 37px 103px 37px 58px;
    color: $white;
    font-size: 24px;
    line-height: 1.1;
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s linear;
    @media (max-width: 767px) {
      font-size: 20px;
      padding: 25px 0;
      padding-right: 20px;
    }

    &--desktop {
      transition: visibility 0.3s ease, opacity 0.3s ease;
      &.hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
    &--mobile {
      position: fixed;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: 325px;
      padding: 12px 123px 12px 89px;
      z-index: 4;
      transition: visibility 0.3s ease, opacity 0.3s ease;
      visibility: hidden;
      opacity: 0;
      &.visible {
        visibility: visible;
        opacity: 1;
      }
    }
    &:after {
      content: "\e905";
      font-family: 'icomoon' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      font-size: 25px;
      right: 58px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__block {
    margin-bottom: 80px;
    &:last-child {
      margin-bottom: 0;
    }
    @media (max-width: 767px) {
      margin-bottom: 40px;
    }
  }
  &__title {
    font-size: 26px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  &__adv {
    display: flex;
    align-items: flex-start;
    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 30px;
    }
    @media (max-width: 767px) {
      font-size: 14px;
    }
    & > div {
      margin-right: 40px;
      display: flex;
      align-items: flex-start;
      &:nth-child(2n) {
        margin-right: 0;
      }
      @media (max-width: 1023px) {
        margin-right: 0;
      }
    }
    &__icon {
      font-size: 50px;
      padding: 3px;
      color: $accent;
      margin-right: 20px;
      @media (max-width: 1023px) {
        font-size: 35px;
      }
    }
    &__content {
      width: calc(100% - 76px);
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &__title {
      font-weight: 500;
      margin-bottom: 16px;
      @media (max-width: 767px) {
        margin-bottom: 8px;
      }
    }
    &__text {
      color: #222222;
      font-weight: 400;
    }
  }
  &__appMethods {
    li {
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: 0;
      }
      @media (max-width: 1023px) {
        display: grid;
        grid-template-columns: 60px 1fr;
      }
      @media (max-width: 767px) {
        margin-bottom: 18px;
      }
    }
    &__num {
      font-size: 32px;
      line-height: 1.1;
      position: relative;
      margin-bottom: 28px;
      display: inline-block;
      font-family: Magistral;
      color: $accent;
      @media (max-width: 1023px) {
        margin-bottom: 0;
        font-size: 24px;
        width: fit-content;
        height: fit-content;
      }
      &:after {
        content: "";
        display: block;
        width: calc(100% + 16px);
        left: 0;
        height: 22px;
        border-radius: 100px;
        background-color: $white;
        position: absolute;
        bottom: -4px;
        z-index: -1;
      }
    }
    &__text {
      color: #222222;
      font-weight: 400;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
  }
  &__characteristic {
    border-top: 1px solid $gray2;
    & > li {
      border-bottom: 1px solid $gray2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 0;
      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0;
      }
      & > div {
        &:nth-child(1) {
          margin-right: 50px;
          font-size: 16px;
          line-height: 20px;
          opacity: 0.6;
          @media (max-width: 767px) {
            font-size: 14px;
            margin-right: 0;
            margin-bottom: 4px;
          }
        }
        &:nth-child(2) {
          font-size: 16px;
          line-height: 20px;
          text-align: right;
          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}