.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  @include breakpoint(tablet) {
    flex-direction: row;
  }
}
.socials__item {
  margin-bottom: 20px;
  opacity: 0.3;
  color: #D8D8D8;
  font-size: 2rem;
  pointer-events: auto;

  svg {
    fill: #d8d8d8;
  }

  &:last-child {
    margin-bottom: 0;

    @include breakpoint(tablet) {
      margin-right: 0;
    }
  }

  transition: opacity 0.3s ease, color 0.3s ease;

  &:hover {
    color: var(--primary-color);
    opacity: 0.8;

    svg {
      fill: var(--primary-color);
    }
  }

  &:focus-visible {
    color: var(--primary-color);
    opacity: 0.8;

    svg {
      fill: var(--primary-color);
    }
  }

  @include breakpoint(tablet) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}