.steps {

  padding: 6rem 0;

  overflow: hidden;

  .swiper {
    overflow: visible;
  }

  @include breakpoint(small-tablet) {
    padding: 4rem 0;
  }

  &__title {
    margin-bottom: 3rem;

    @extend %fs-h3;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
    column-gap: 4.2rem;

    @include breakpoint(small-tablet) {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3rem;
      column-gap: 2rem;
    }
    @include breakpoint(mobile) {
      display: flex;
      row-gap: 0;
      column-gap: 0;
    }
  }

  &__list-item {
    @include breakpoint(mobile) {
      flex-shrink: 0;

      width: 27rem;
    }
  }

  &__list-item-icon {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 1.2rem;
  }

  &__list-item-name {
    @extend %fs-t3;
    font-weight: 500;
    text-transform: lowercase;

    margin-bottom: 1.2rem;
  }

  &__list-item-arrow {
    height: 1.7rem;
    width: 100%;
  }
}