.video-block {

  padding: 6rem 0;

  @include breakpoint(mobile) {
    padding: 3rem 0;
  }

  &__inner {
  }

  &__open-video {
    position: relative;

    display: block;

    height: 52rem;
    width: 100%;

    border: 3px solid var(--primary-color);
    border-radius: 2.4rem;

    @include breakpoint(tablet) {
      height: 46rem;
    }

    @include breakpoint(small-tablet) {
      height: 28rem;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;

      opacity: 0.5;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;

    font-size: 14px;
    font-weight: 500;
  }

  &__play-icon-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 13rem;
    height: 13rem;

    border-radius: 50%;
    background: rgba(#40D0D5, 0.2);

    svg {
      width: 2.4rem;
      height: 3rem;
      margin-left: 0.8rem;
    }
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, transition 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    padding: 6rem 2.5rem 4rem;

    background-color: #151515;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__modal-close {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;

    color: var(--primary-color);
  }

  &__iframe {
    width: 80vw;
    height: calc(0.5625 * 80vw);
    border: none;
  }
}