<div class="features_section">
  <div class="features_section__head">
    <div class="section_title">Наши преимущества</div>
  </div>
  <div class="features_section__row">
    <div class="features_section__col">
      <div class="features_section__text">Гибкие условия сотрудничества, позволяют построить долгосрочные и
        плодотворные отношения</div>
      <a href="" class="features_section__button sm_button"><span>О компании</span><i
          class="icon-arrow-right"></i></a>
    </div>
    <div class="features_section__col">
      <div class="feature" style="background-image: url(../img/features/1.png)" data-feature-anim-scale>
        <div class="feature__title">5000 м²</div>
        <div class="feature__text">площадь производственных <br> и складских помещений</div>
      </div>
    </div>
  </div>
</div>