<div class="product_features">
  <div class="product_features__item">
    <div class="product_feature">
      <div class="product_feature__icon">
        <svg width="132" height="130" viewBox="0 0 132 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M131 65L98.5 121.292L33.5 121.292L0.999997 65L33.5 8.70834L98.5 8.70835L131 65Z"
            stroke="#232323" />
          <path d="M116 65L91 108.301L41 108.301L16 65L41 21.6987L91 21.6987L116 65Z" fill="#222222" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M51.625 61.25H70.375V68.75H68.5V63.125H53.5V81.875H60.6875V83.75H51.625V61.25Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M51.625 54.375H70.375V61.25L68.5 61.25V56.25H53.5V61.25L51.625 61.25V54.375Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M63.5 68.125H82.25V83.75H63.5V68.125ZM65.375 70V81.875H80.375V70H65.375Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56 47.5H66V55H64.125V49.375H57.875V55H56V47.5Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M81.3125 83.75H52.5625V81.875H81.3125V83.75Z"
            fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M72.9704 50.3314L78.7963 48.3894L78.2034 46.6106L69.7659 49.4231L69.7544 51.198L76.9419 53.698L77.5579 51.927L72.9704 50.3314Z"
            fill="white" />
        </svg>
      </div>
      <div class="product_feature__text">
        Напыляемая шумоизоляция и антикоррозионные материалы
      </div>
    </div>
  </div>
  <div class="product_features__item">
    <div class="product_feature">
      <div class="product_feature__icon">
        <svg width="132" height="130" viewBox="0 0 132 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M131 65L98.5 121.292L33.5 121.292L0.999997 65L33.5 8.70834L98.5 8.70835L131 65Z"
            stroke="#232323" />
          <path d="M116 65L91 108.301L41 108.301L16 65L41 21.6987L91 21.6987L116 65Z" fill="#222222" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M47.25 50.625H84.75V79.375H47.25V50.625ZM49.125 52.5V77.5H82.875V52.5H49.125ZM58.5 55.8268L61 57.0768L63.5 55.8268L66 57.0768L68.5 55.8268L71 57.0768L73.5 55.8268L76 57.0768L78.0807 56.0365L78.9193 57.7135L76 59.1732L73.5 57.9232L71 59.1732L68.5 57.9232L66 59.1732L63.5 57.9232L61 59.1732L58.5 57.9232L56 59.1732L53.0807 57.7135L53.9193 56.0365L56 57.0768L58.5 55.8268ZM61 62.0768L58.5 60.8268L56 62.0768L53.9193 61.0365L53.0807 62.7135L56 64.1732L58.5 62.9232L61 64.1732L63.5 62.9232L66 64.1732L68.5 62.9232L71 64.1732L73.5 62.9232L76 64.1732L78.9193 62.7135L78.0807 61.0365L76 62.0768L73.5 60.8268L71 62.0768L68.5 60.8268L66 62.0768L63.5 60.8268L61 62.0768ZM58.5 65.8268L61 67.0768L63.5 65.8268L66 67.0768L68.5 65.8268L71 67.0768L73.5 65.8268L76 67.0768L78.0807 66.0365L78.9193 67.7135L76 69.1732L73.5 67.9232L71 69.1732L68.5 67.9232L66 69.1732L63.5 67.9232L61 69.1732L58.5 67.9232L56 69.1732L53.0807 67.7135L53.9193 66.0365L56 67.0768L58.5 65.8268ZM61 72.0768L58.5 70.8268L56 72.0768L53.9193 71.0365L53.0807 72.7135L56 74.1732L58.5 72.9232L61 74.1732L63.5 72.9232L66 74.1732L68.5 72.9232L71 74.1732L73.5 72.9232L76 74.1732L78.9193 72.7135L78.0807 71.0365L76 72.0768L73.5 70.8268L71 72.0768L68.5 70.8268L66 72.0768L63.5 70.8268L61 72.0768Z"
            fill="white" />
        </svg>
      </div>
      <div class="product_feature__text">
        Автомобильные <br> ковры
      </div>
    </div>
  </div>
  <div class="product_features__item">
    <div class="product_feature">
      <div class="product_feature__icon">
        <svg width="132" height="130" viewBox="0 0 132 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M131 65L98.5 121.292L33.5 121.292L0.999997 65L33.5 8.70834L98.5 8.70835L131 65Z"
            stroke="#232323" />
          <path d="M116 65L91 108.301L41 108.301L16 65L41 21.6987L91 21.6987L116 65Z" fill="#222222" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M76.2669 52.5L74.125 48.2162L71.9831 52.5H52.5625V57.5H49.125V63.125H47.25V80.625H59.75V77.5H84.75V63.75H82.875V75.625H59.75V63.125H57.875V57.5H54.4375V54.375H70.8469C69.7716 55.8216 68.367 57.0047 66.7381 57.8192L62.502 59.9372L67.4971 63.1159C68.9249 64.0245 70.1358 65.2354 71.0443 66.6631L74.223 71.6582L76.341 67.4222C77.4599 65.1845 79.2743 63.3701 81.5119 62.2513L85.944 60.0352L81.5119 57.8192C79.883 57.0047 78.4784 55.8216 77.4031 54.375H82.875V56.25H84.75V52.5H76.2669ZM73.586 53.4868L74.125 52.4088L74.664 53.4868C75.9643 56.0873 78.0729 58.196 80.6734 59.4962L81.7514 60.0352L80.6734 60.5742C78.0729 61.8745 75.9643 63.9831 74.664 66.5836L74.027 67.8577L72.6262 65.6565C71.5703 63.9972 70.163 62.5899 68.5038 61.534L66.3025 60.1332L67.5766 59.4962C70.1771 58.196 72.2857 56.0873 73.586 53.4868ZM56 63.125H51V59.375H56V63.125ZM49.125 78.75V65H57.875V78.75H49.125Z"
            fill="white" />
        </svg>
      </div>
      <div class="product_feature__text">
        Керамика
      </div>
    </div>
  </div>
  <div class="product_features__item">
    <div class="product_feature">
      <div class="product_feature__icon">
        <svg width="132" height="130" viewBox="0 0 132 130" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M131 65L98.5 121.292L33.5 121.292L0.999997 65L33.5 8.70834L98.5 8.70835L131 65Z"
            stroke="#232323" />
          <path d="M116 65L91 108.301L41 108.301L16 65L41 21.6987L91 21.6987L116 65Z" fill="#222222" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M84.75 49.375H47.25V80.625H58.1718L59.4218 77.8125H72.5782L73.8282 80.625H83.8125H84.75V49.375ZM82.875 59.375V78.75H75.0468L73.7968 75.9375H58.2032L56.9532 78.75H49.125V59.375H54.125V63.75H56V59.375H61.625V71.25H63.5V59.375H68.5V71.25H70.375V59.375H76V63.75H77.875V59.375H82.875ZM82.875 57.5V51.25H49.125V57.5H82.875ZM55.0625 69.375C54.1996 69.375 53.5 70.0746 53.5 70.9375C53.5 71.8004 54.1996 72.5 55.0625 72.5C55.9254 72.5 56.625 71.8004 56.625 70.9375C56.625 70.0746 55.9254 69.375 55.0625 69.375ZM51.625 70.9375C51.625 69.039 53.164 67.5 55.0625 67.5C56.961 67.5 58.5 69.039 58.5 70.9375C58.5 72.836 56.961 74.375 55.0625 74.375C53.164 74.375 51.625 72.836 51.625 70.9375ZM75.375 70.9375C75.375 70.0746 76.0746 69.375 76.9375 69.375C77.8004 69.375 78.5 70.0746 78.5 70.9375C78.5 71.8004 77.8004 72.5 76.9375 72.5C76.0746 72.5 75.375 71.8004 75.375 70.9375ZM76.9375 67.5C75.039 67.5 73.5 69.039 73.5 70.9375C73.5 72.836 75.039 74.375 76.9375 74.375C78.836 74.375 80.375 72.836 80.375 70.9375C80.375 69.039 78.836 67.5 76.9375 67.5Z"
            fill="white" />
        </svg>
      </div>
      <div class="product_feature__text">
        Защита картера и защитная сетка в бампер
      </div>
    </div>
  </div>
</div>