<section class="breadcrumbs">
  <div class="container2">
    <ul>
      {{#each breadcrumbs}}
      <li>
        <a href="{{this.link}}">{{this.name}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</section>