<section class="contacts-form js-init-form">
  <div class="container2">
    <div class="contacts-form__inner">
      <div class="js-form-block">
        <div class="editable-text-container contacts-form__text">
          {{{formText}}}
        </div>
        <form class="form js-validation" name="contact" data-need-validation>
          <div class="form__grid-items">
            <div class="form__item">
              <input class="js-input" type="text" autocomplete="off" name="name" required
                data-parsley-errors-messages-disabled>
              <p class="form__item--placeholder js-input-placeholder">Имя <span>*</span></p>
            </div>
            <div class="form__item">
              <input class="js-input" type="text" autocomplete="off" name="company">
              <p class="form__item--placeholder js-input-placeholder">Наименование компании</p>
            </div>
            <div class="form__item">
              <input class="js-input" type="text" autocomplete="off" name="city">
              <p class="form__item--placeholder js-input-placeholder">Город</p>
            </div>
            <div class="form__item">
              <input class="js-input js-phone-input" autocomplete="off" type="tel" name="phone" required
                data-parsley-errors-messages-disabled>
              <p class="form__item--placeholder js-phone-input-label js-input-placeholder">Номер телефона <span>*</span></p>
            </div>
            <div class="form__item checkbox">
              <input type="checkbox" required name="agree" id="agree1">
              <label for="agree1">Оставляя заявку вы соглашаетесь с политикой обработки <a href="#">персональных
                  данных</a></label>
            </div>
            <button class="form__button" type="submit">Отправить</button>
          </div>
        </form>
      </div>
      <div class="form__success js-success-block">
        <img class="form__success-image" src="img/full.svg" alt="Success">
        <h3 class="form__success-title">Спасибо!</h3>
        <p class="form__success-subtitle">Ваша заявка уже у нас. Менеджер свяжется с вами в самое ближайшее время.</p>
        <a class="form__success-back-btn" href="/" class="button">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15 8.44697V6.55303H3.63636L8.8447 1.3447L7.5 1.90735e-06L0 7.5L7.5 15L8.8447 13.6553L3.63636 8.44697H15Z"
              fill="#40D0D5" />
          </svg>
          <span class="form__success-back-btn-label">НА ГЛАВНУЮ</span>
        </a>
      </div>
    </div>
  </div>
</section>