<section>
  <div class="container2">
    <div class="features_section">
      <div class="features_section__row">
        <div class="features_section__col">
          <div class="features_section__text">
            <h2>Производство</h2>
            <p>Торговый дом LOTOS имеет собственное производство, что позволяет гарантировать качество производимой продукции.</p>
          </div>
        </div>
        <div class="features_section__col">
          <div class="feature" style="background-image: url(../img/features/1.png)" data-feature-anim-scale>
            <div class="feature__title">5000 м²</div>
            <div class="feature__text">площадь производственных <br> и складских помещений</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>