<section class="intro-accent">
  <div class="container2">
    <div class="intro-accent__inner">
      <div class="intro-accent__text-block">
        <h2>Производственно-коммерческая компания Lotos</h2>
      </div>
      <div class="intro-accent__accent-block">
        <p>специализируемся на производстве и продаже автомобильных аксессуаров  и материалов</p>
      </div>
    </div>
  </div>
</section>