<div class="mob_menu">
    <div class="mob_menu__inner">
        <div class="container">
            <div class="mob_menu__head">
                <img src="img/logo.png" alt="" class="mob_menu__logo">
                <div class="mob_menu__close" data-close-menu>
                    Закрыть
                    <i class="icon-close"></i>
                </div>
            </div>
            <div class="mob_menu__list">
                <div class="mob_menu__item">
                <button type="button" class="mob_menu__link">Продукция</button>
                <div class="mob_menu__sublist">
                    <a href="./catalog-item.html" class="mob_menu__sublink">Напыляемая шумоизоляция и антикоррозионные материалы</a>
                    <a href="./catalog-item.html" class="mob_menu__sublink">Автомобильные ковры</a>
                    <a href="./catalog-item.html" class="mob_menu__sublink">Керамика</a>
                    <a href="./catalog-item.html" class="mob_menu__sublink">Защита картера и защитная сетка в бампер</a>
                </div>
                </div>
                <div class="mob_menu__item">
                    <a href="./about.html" class="mob_menu__link">О компании</a>
                </div>
                <div class="mob_menu__item">
                    <a href="./partners.html" class="mob_menu__link">Партнерам</a>
                </div>
                <div class="mob_menu__item">
                    <a href="./contacts.html" class="mob_menu__link">Контакты</a>
                </div>
            </div>
            <button data-popup="contact" type="button" class="mob_menu__button header__callback">
                Связаться
                <span class="icon-envelope"></span>
            </button>
        </div>
    </div>
</div>