<section class="video-block js-video-modal-container">
  <div class="container2">
    <div class="video-block__inner">
      <span class="visually-hidden js-video-code">CWmyHQHp_Ig</span>
      <button class="video-block__open-video js-open-modal" type="button">
        <img src="img/video-preview.jpg" alt="Video">
        <span class="video-block__play-icon-wrapper">
          <svg><use xlink:href="#play"></svg>
        </span>
        <span class="video-block__label js-circle-type" data-radius="97">ВИДЕО О КОМПАНИИ • ВИДЕО О КОМПАНИИ • ВИДЕО О КОМПАНИИ • </span>
      </button>
      <div class="video-block__modal js-video-modal">
        <button class="video-block__modal-close js-close-modal" type="button">
          <span class="icon-close"></span>
        </button>
        <iframe class="video-block__iframe js-iframe" src="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
</section>