{{#extend "layout"}}
{{#content "main"}}

<div class="js-first-block"></div>

<div class="intro-image">
  <img src="img/image.jpg" alt="Lotos">
</div>

{{>breadcrumbs}}

{{>intro-accent}}

{{>cards data=cards1}}

{{>features}}

{{>cards data=cards2}}

{{>certificates}}

{{>video-block}}

{{>benefits}}

{{>contacts-form formText=formText}}

<div class="footer-image">
  <img src="img/map.svg" alt="Lotos">
</div>

{{/content}}
{{/extend}}