{{#extend "layout"}}
{{#content "main"}}

<div class="js-first-block"></div>

<div class="intro-image">
  <img src="img/image.jpg" alt="Lotos">
</div>

<ul class="breadcrumbs container2">
  <li>
    <a href="#">Главная</a>
  </li>
  <li>
    <a href="#">О компании</a>
  </li>
</ul>

<section class="intro-title">
  <div class="container2">
    <h1 class="intro-title__title">О компании</h1>
  </div>
</section>

{{>intro-accent}}

{{>cards data=cards1}}

{{>features}}

{{>cards data=cards2}}

{{>certificates}}

{{>video-block}}

{{>benefits}}

{{>contacts-form formText=formText}}

<div class="footer-image">
  <img src="img/map.svg" alt="Lotos">
</div>

{{/content}}
{{/extend}}