{{#extend "layout"}}
{{#content "main"}}

<div class="js-first-block"></div>

<ul class="breadcrumbs container2">
  <li>
    <a href="./index.html">Главная</a>
  </li>
  <li>
    <a href="#">Продукция</a>
  </li>
</ul>

<div class="container2 catalogContainer">
  <div class="catalogFilter">
    <p class="catalogFilter--title">Показать:</p>
    <ul class="catalogFilter__categories">
      <li>
        <a class="active" href="./catalog-item.html">Шумоизоляция и антикоррозионные материалы</a>
      </li>
      <li>
        <a href="./catalog-item.html">Коврики в салон и коврики в багажник</a>
      </li>
      <li>
        <a href="./catalog-item.html">Керамика</a>
      </li>
      <li>
        <a href="./catalog-item.html">Сетка в бампер и защита картера</a>
      </li>
    </ul>
    <div class="catalogFilter__mobile-dropdown js-toggle-pseudo-select">
      <button class="catalogFilter__mobile-dropdown-btn js-button" type="button">
        <span class="catalogFilter__mobile-dropdown-btn-label">Шумоизоляция и антикоррозионные материалы</span>
        <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M9.41419 7.65685L15.071 2L13.6568 0.585787L7.99998 6.24264L2.34312 0.585786L0.92891 2L6.58576 7.65685L7.99998 9.07107L9.41419 7.65685Z"
            fill="#40D0D5" />
        </svg>
      </button>
      <ul class="catalogFilter__mobile-dropdown-list js-content">
        <li>
          <a href="./catalog-item.html">Коврики в салон и коврики в багажник</a>
        </li>
        <li>
          <a href="./catalog-item.html">Керамика</a>
        </li>
        <li>
          <a href="./catalog-item.html">Сетка в бампер и защита картера</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="catalog">
    <div class="catalogInfo">
      <div class="catalogInfo__content js-toggle-show-text-container">
        <p class="catalogInfo__title">
          Шумоизоляция и&nbsp;антикоррозионные&nbsp;материалы
        </p>
        <div class="catalogInfo__mobile-hidden js-toggle-show-text">
          <div class="catalogInfo__desc">
            Напыляемая шумоизоляция LOTOS - специальный звукоизолирующий, тиксотропный, антикоррозионный состав, с
            функциональными добавками для шумоизоляции. Особенность продукта – практически полное отсутствие запаха.
            Материал обеспечивает значительное снижение уровня шума и вибрации в салоне автомобиля.
          </div>
          <ul class="catalogInfo__adv">
            <li>
              <span class="icon-time"></span>
              <p>Быстрое <br> высыхание</p>
            </li>
            <li>
              <span class="icon-ballon"></span>
              <p>Удобное <br> нанесение</p>
            </li>
            <li>
              <span class="icon-calendar"></span>
              <p>Длительный срок <br> службы</p>
            </li>
            <li>
              <span class="icon-smell"></span>
              <p>Отсутствие <br> запаха</p>
            </li>
          </ul>
        </div>
        <button class="catalogInfo__mobile-hidden-button js-toggle-show-text-button" type="button">Раскрыть</button>
      </div>
    </div>
    <a href="./item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
    <a href="./item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
    <a href="./item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
    <a href="./item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
  </div>

</div>

{{/content}}
{{/extend}}