{{#extend "layout"}}
{{#content "main"}}
<div class="js-first-block"></div>

<ul class="breadcrumbs container2">
  <li>
    <a href="./index.html">Главная</a>
  </li>
  <li>
    <span>Продукция</span>
  </li>
</ul>

<div class="container2 catalogContainer">
  <div class="catalog catalog-new">
    <a href="./catalog-item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <p class="catalogItem__name">Шумоизоляция и антикоррозионные материалы</p>
      <span class="catalogItem__button">
        Подробнее
        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.48023e-06 6.55303L2.64581e-06 8.44697L11.3636 8.44697L6.15531 13.6553L7.5 15L15 7.5L7.5 6.55671e-07L6.1553 1.3447L11.3636 6.55303L2.48023e-06 6.55303Z"/>
        </svg>
      </span>
    </a>
    <a href="./catalog-item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product-3.png" alt="">
      </div>
      <p class="catalogItem__name">Коврики в салон и&nbsp;коврики&nbsp;в&nbsp;багажник</p>
      <span class="catalogItem__button">
        Подробнее
        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.48023e-06 6.55303L2.64581e-06 8.44697L11.3636 8.44697L6.15531 13.6553L7.5 15L15 7.5L7.5 6.55671e-07L6.1553 1.3447L11.3636 6.55303L2.48023e-06 6.55303Z"/>
        </svg>
      </span>
    </a>
    <a href="./catalog-item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product-2.png" alt="">
      </div>
      <p class="catalogItem__name">Керамика</p>
      <span class="catalogItem__button">
        Подробнее
        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.48023e-06 6.55303L2.64581e-06 8.44697L11.3636 8.44697L6.15531 13.6553L7.5 15L15 7.5L7.5 6.55671e-07L6.1553 1.3447L11.3636 6.55303L2.48023e-06 6.55303Z" />
        </svg>
      </span>
    </a>
    <a href="./catalog-item.html" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product-4.png" alt="">
      </div>
      <p class="catalogItem__name">Сетка в бампер и защита&nbsp;картера</p>
      <span class="catalogItem__button">
        Подробнее
        <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.48023e-06 6.55303L2.64581e-06 8.44697L11.3636 8.44697L6.15531 13.6553L7.5 15L15 7.5L7.5 6.55671e-07L6.1553 1.3447L11.3636 6.55303L2.48023e-06 6.55303Z"/>
        </svg>
      </span>
    </a>
  </div>

</div>

{{/content}}
{{/extend}}