{{#extend "layout"}}
{{#content "main"}}

<div class="js-first-block"></div>

<ul class="breadcrumbs container2">
  <li>
    <a href="#">Главная</a>
  </li>
  <li>
    <a href="#">Контакты</a>
  </li>
</ul>

<section class="intro-title">
  <div class="container2">
    <h1 class="intro-title__title">Контакты</h1>
  </div>
</section>

<section class="contacts">
  <div class="container2">
    <div class="contacts__inner">
      <div class="contacts__phone-block">
        <span class="contacts__label">телефон</span>
        <a href="tel:+78435983100" class="contacts__phone">+7 843 598 31 00</a>
      </div>
      <ul class="contacts__contacts-list">
        <li class="contacts__contacts-item">
          <span class="contacts__label">общий отдел и бухгалтерия</span>
          <a class="contacts__contact-link" href="mailto:acc@npkzt.com">acc@npkzt.com </a>
        </li>
        <li class="contacts__contacts-item">
          <span class="contacts__label">отдел продаж</span>
          <a class="contacts__contact-link" href="mailto:sale@npkzt.com">sale@npkzt.com</a>
        </li>
        <li class="contacts__contacts-item">
          <span class="contacts__label">техслужба и лаборатория</span>
          <a class="contacts__contact-link" href="mailto:tehnolog@npkzt.com">tehnolog@npkzt.com</a>
        </li>
        <li class="contacts__contacts-item mobile">
          <span class="contacts__label">адрес</span>
          <address class="contacts__label">Россия, город Казань, Ул. Липатова 37, к.9</address>
        </li>
      </ul>
      <div class="js-map-wrapper">
        <div class="contacts__map-mobile-btn-block">
          <img class="contacts__map-mobile-bg-image" src="../img/map-placeholder.jpg" alt="map">
          <button class="button js-open-map" type="button">Посмотреть на карте</button>
        </div>
        <div class="contacts__map-wrapper">
          <button class="contacts__map-wrapper-close js-close-map" type="button"><span class="icon-close"></span></button>
          <div class="contacts__map js-init-map"
            data-image="../img/map-marker.svg"
            data-initial-longitude="55.874062"
            data-initial-latitude="49.220554"
            data-initial-zoom="14"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contacts-form">
  <div class="container2">
    <div class="contacts-form__inner">
      <h2 class="contacts-form__title">Связаться с нами</h2>
      <form class="form js-validation" name="contact" data-need-validation>
        <div class="form__grid-items">
          <div class="form__item">
            <input class="js-input" type="text" autocomplete="off" name="name" required
              data-parsley-errors-messages-disabled>
            <p class="form__item--placeholder js-input-placeholder">Имя <span>*</span></p>
          </div>
          <div class="form__item">
            <input class="js-input" type="text" autocomplete="off" name="company">
            <p class="form__item--placeholder js-input-placeholder">Наименование компании</p>
          </div>
          <div class="form__item">
            <input class="js-input" type="text" autocomplete="off" name="city">
            <p class="form__item--placeholder js-input-placeholder">Город</p>
          </div>
          <div class="form__item">
            <input class="js-input js-phone-input" autocomplete="off" type="tel" name="phone" required
              data-parsley-errors-messages-disabled>
            <p class="form__item--placeholder js-phone-input-label js-input-placeholder">Номер телефона <span>*</span></p>
          </div>
          <div class="form__item checkbox">
            <input type="checkbox" required name="agree" id="agree">
            <label for="agree">Оставляя заявку вы соглашаетесь с политикой обработки <a href="#">персональных
                данных</a></label>
          </div>
          <button class="form__button" type="submit">Отправить</button>
        </div>
      </form>
    </div>
  </div>
</section>

{{/content}}
{{/extend}}