{{#extend "layout"}}
{{#content "main"}}

<div class="car_video" data-src1="img/auto/1.gif" data-src2="img/auto/2.gif">

  <svg height="100%" width="100%">
    <foreignObject x="0" y="0" width="100%" height="100%">
      <video class="car_video__second_image" xmlns="http://www.w3.org/1999/xhtml" width="1680" height="1050" preload="auto" no-controls autoplay loop playsinline muted>
        <source src="img/auto/2.m4v" type="video/mp4" />
      </video>
    </foreignObject>
    <defs>
      <mask id="cursorMask" x="0" y="0" width="100%" height="100%">
        <g>
          <rect x="0" y="0" width="100%" height="100%"/>
          <circle cx="842" cy="550" r="50" fill="#000000" />
        </g>
      </mask>
    </defs>
    <g>
      <foreignObject id="video-1" x="0" y="0" width="100%" height="100%">
        <video class="bg-car-img" id="video-1" xmlns="http://www.w3.org/1999/xhtml" width="1680" height="1050" preload="auto" no-controls autoplay loop playsinline muted>
          <source src="img/auto/1.m4v" type="video/mp4" />
        </video>
      </foreignObject>
    </g>
  </svg>

  {{!-- <div class="circle-text-car js-circle-type" data-radius="65">ПОД ЗАЩИТОЙ LOTOS&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;ПОД ЗАЩИТОЙ LOTOS&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;</div> --}}
  <div class="circle-text-car">
    <img class="circle-text-car-image" src="img/circleText.svg" alt="Text">
  </div>
</div>

<div class="marks">
  <a class="car_video__mark" href="#">
    <span class="car_video_coord_right visually-hidden">170</span>
    <span class="car_video_coord_top visually-hidden">665</span>
    <svg width="64" height="72" viewBox="0 0 64 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32 4L59.7128 20V52L32 68L4.28719 52V20L32 4Z" stroke="white" stroke-width="2" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M46.7222 27.5L31.9998 19L17.2773 27.5V44.5L31.9998 53L46.7222 44.5V27.5ZM33.4998 41V37.5H36.9998V34.5H33.4998V31H30.4998V34.5H26.9998V37.5H30.4998V41H33.4998Z"
        fill="white" />
    </svg>
    <div class="car_video__mark_content">
      <div class="car_video__mark_icon">
        <img src="img/Защита картера.svg" alt="">
      </div>
      <div class="car_video__mark_text">
        <div class="car_video__mark_title">Защита картера</div>
        <span class="car_video__mark_link">Смотреть</span>
      </div>
    </div>
  </a>
  <a class="car_video__mark" href="#">
    <span class="car_video_coord_right visually-hidden">528</span>
    <span class="car_video_coord_top visually-hidden">598</span>
    <svg width="64" height="72" viewBox="0 0 64 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32 4L59.7128 20V52L32 68L4.28719 52V20L32 4Z" stroke="white" stroke-width="2" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M46.7222 27.5L31.9998 19L17.2773 27.5V44.5L31.9998 53L46.7222 44.5V27.5ZM33.4998 41V37.5H36.9998V34.5H33.4998V31H30.4998V34.5H26.9998V37.5H30.4998V41H33.4998Z"
        fill="white" />
    </svg>
    <div class="car_video__mark_content">
      <div class="car_video__mark_icon">
        <img src="img/Коврик в салон.svg" alt="">
      </div>
      <div class="car_video__mark_text">
        <div class="car_video__mark_title">Автомобильные ковры</div>
        <span class="car_video__mark_link">Смотреть</span>
      </div>
    </div>
  </a>
  <a class="car_video__mark" href="#">
    <span class="car_video_coord_right visually-hidden">96</span>
    <span class="car_video_coord_top visually-hidden">398</span>
    <svg width="64" height="72" viewBox="0 0 64 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32 4L59.7128 20V52L32 68L4.28719 52V20L32 4Z" stroke="white" stroke-width="2" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M46.7222 27.5L31.9998 19L17.2773 27.5V44.5L31.9998 53L46.7222 44.5V27.5ZM33.4998 41V37.5H36.9998V34.5H33.4998V31H30.4998V34.5H26.9998V37.5H30.4998V41H33.4998Z"
        fill="white" />
    </svg>
    <div class="car_video__mark_content">
      <div class="car_video__mark_icon">
        <img src="img/Керамика.svg" alt="">
      </div>
      <div class="car_video__mark_text">
        <div class="car_video__mark_title">Керамика</div>
        <span class="car_video__mark_link">Смотреть</span>
      </div>
    </div>
  </a>
  <a class="car_video__mark" href="#">
    <span class="car_video_coord_right visually-hidden">370</span>
    <span class="car_video_coord_top visually-hidden">470</span>
    <svg width="64" height="72" viewBox="0 0 64 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32 4L59.7128 20V52L32 68L4.28719 52V20L32 4Z" stroke="white" stroke-width="2" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M46.7222 27.5L31.9998 19L17.2773 27.5V44.5L31.9998 53L46.7222 44.5V27.5ZM33.4998 41V37.5H36.9998V34.5H33.4998V31H30.4998V34.5H26.9998V37.5H30.4998V41H33.4998Z"
        fill="white" />
    </svg>
    <div class="car_video__mark_content">
      <div class="car_video__mark_icon">
        <img src="img/Антикоррозия.svg" alt="">
      </div>
      <div class="car_video__mark_text">
        <div class="car_video__mark_title">Антикоррозионные материалы</div>
        <span class="car_video__mark_link">Смотреть</span>
      </div>
    </div>
  </a>
</div>

<!-- Банер -->
<div class="bannerContainer js-first-block">
  <div class="container2">
    <div class="banner__content">
      <h1 class="banner__title">ТОРГОВЫЙ ДОМ ЛОТОС</h1>
      <p class="banner__desc">Производственно-коммерческая <br> компания</p>
    </div>
  </div>
  <div class="bannerContainer__social">
    <div class="container">
      <div class="socials">
        <a href="#" target="_blank" class="socials__item icon-fb"></a>
        <a href="#" target="_blank" class="socials__item icon-inst"></a>
        <a href="#" target="_blank" class="socials__item icon-wa"></a>
      </div>
    </div>
  </div>
  <div class="bannerContainer__next">
    <div class="container2">
      <a href="#production" class="go_next">
        Продукция
        <div class="go_next__icon_wrap">
          <div class="go_next__icon">
            <i class="icon-arrow-down"></i>
            <i class="icon-arrow-down"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Банер END -->

<!-- Продукция -->
<div class="production_section" id="production">
  <div class="container2">
    <div class="production__inner">
      <div class="production_section__head">
        <div class="section_title">Продукция</div>
      </div>
      <ul class="production__list">
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product.png" alt="">
            </div>
            <p class="production__item-name">Напыляемая шумоизоляция
              и антикоррозионные материалы</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-3.png" alt="">
            </div>
            <p class="production__item-name">Автомобильные <br>
              ковры</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-2.png" alt="">
            </div>
            <p class="production__item-name">Керамика</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-4.png" alt="">
            </div>
            <p class="production__item-name">Защита картера
              и&nbsp;защитная сетка в бампер</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Продукция END -->

<div data-hide-car></div>

<!-- Партнеры -->
<div class="partners_section">
  <div class="container2">
      <h2 class="partners_section__head">Нашими партнерами являются дистрибьюторы и крупные автосалоны по всей России</h2>
  </div>
</div>

{{>partners data=partners title="Наши партнеры"}}
<!-- Партнеры END -->

<!-- География -->
<div class="geography_section">
  <div class="container2">
    <div class="geography_section__title section_title">География продаж</div>
  </div>
  <div data-geography-scale>
    <div class="geography_section__map">
      <div class="container">
        <img src="img/geography.svg" alt="" class="geography_section__map_img">
        <img src="img/geography_mob.svg" alt="" class="geography_section__map_img_mob">
      </div>
    </div>
  </div>
</div>
<!-- География END -->

<!-- Связаться -->
<div class="feedback_section">
  <div class="container2">
    <div class="text_center">
      <button data-popup="contact" type="button" class="feedback_button">
        <span class="feedback_button__text">— Связаться — Связаться — Связаться —</span>
      </button>
    </div>
  </div>
</div>
<!-- Связаться END -->

{{/content}}
{{/extend}}