{{#extend "layout"}}
{{#content "main"}}

<div class="car_video" data-src1="img/auto/1.gif" data-src2="img/auto/2.gif">
  <svg>
    <defs>
      <mask id="cursorMask" maskUnits="objectBoundingBox" maskContentUtils="objectBoundingBox">
        <g>
          <rect x="0" y="0" width="1680" height="1050" fill="#FFFFFF" />
          <circle cx="0" cy="0" r="200" fill="#000000" />
        </g>
      </mask>
    </defs>
  </svg>
  <div class="car_video__mark car_video__mark--materials">
    <svg width="64" height="72" viewBox="0 0 64 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32 4L59.7128 20V52L32 68L4.28719 52V20L32 4Z" stroke="white" stroke-width="2" />
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M46.7222 27.5L31.9998 19L17.2773 27.5V44.5L31.9998 53L46.7222 44.5V27.5ZM33.4998 41V37.5H36.9998V34.5H33.4998V31H30.4998V34.5H26.9998V37.5H30.4998V41H33.4998Z"
        fill="white" />
    </svg>
    <div class="car_video__mark_content">
      <div class="car_video__mark_icon">
        <svg width="49" height="60" viewBox="0 0 49 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 24H30V36H27V27H3V57H14.5V60H0V24Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 13H30V24L27 24V16H3V24L0 24V13Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M19 35H49V60H19V35ZM22 38V57H46V38H22Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7 2H23V14H20V5H10V14H7V2Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M47.5 60H1.5V57H47.5V60Z" fill="white" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M34.1529 6.5302L43.4744 3.42302L42.5258 0.576965L29.0258 5.07697L29.0073 7.91674L40.5073 11.9167L41.4929 9.08325L34.1529 6.5302Z"
            fill="white" />
        </svg>
      </div>
      <div class="car_video__mark_text">
        <div class="car_video__mark_title">Антикоррозионные материалы</div>
        <a href="#" class="car_video__mark_link">Смотреть</a>
      </div>
    </div>
  </div>
</div>

<!-- Банер -->
<div class="bannerContainer js-first-block">
  <div class="container2">
    <div class="banner__content">
      <h1 class="banner__title">ТОРГОВЫЙ ДОМ ЛОТОС</h1>
      <p class="banner__desc">Производственно-коммерческая <br> компания</p>
    </div>
  </div>
  <div class="bannerContainer__social">
    <div class="container">
      <div class="socials">
        <a href="#" target="_blank" class="socials__item icon-fb"></a>
        <a href="#" target="_blank" class="socials__item icon-inst"></a>
        <a href="#" target="_blank" class="socials__item icon-wa"></a>
      </div>
    </div>
  </div>
  <div class="bannerContainer__next">
    <div class="container2">
      <a href="#production" class="go_next">
        Продукция
        <div class="go_next__icon_wrap">
          <div class="go_next__icon">
            <i class="icon-arrow-down"></i>
            <i class="icon-arrow-down"></i>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- Банер END -->

<!-- Продукция -->
<div class="production_section" id="production">
  <div class="container2">
    <div class="production__inner">
      <div class="production_section__head">
        <div class="section_title">Продукция</div>
      </div>
      <ul class="production__list">
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product.png" alt="">
            </div>
            <p class="production__item-name">Напыляемая шумоизоляция
              и антикоррозионные материалы</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-3.png" alt="">
            </div>
            <p class="production__item-name">Автомобильные <br>
              ковры</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-2.png" alt="">
            </div>
            <p class="production__item-name">Керамика</p>
          </a>
        </li>
        <li class="production__item">
          <a href="#" class="production__item-link">
            <div class="production__item-img">
              <img src="img/product-4.png" alt="">
            </div>
            <p class="production__item-name">Защита картера
              и&nbsp;защитная сетка в бампер</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Продукция END -->

<div data-hide-car></div>

<!-- Партнеры -->
<div class="partners_section">
  <div class="container2">
      <h2 class="partners_section__head">Нашими партнерами являются дистрибьюторы и крупные автосалоны по всей России</h2>
  </div>
</div>

{{>partners data=partners title="Наши партнеры"}}
<!-- Партнеры END -->

<!-- География -->
<div class="geography_section">
  <div class="container2">
    <div class="geography_section__title section_title">География продаж</div>
  </div>
  <div data-geography-scale>
    <div class="geography_section__map">
      <div class="container">
        <img src="img/geography.svg" alt="" class="geography_section__map_img">
        <img src="img/geography_mob.svg" alt="" class="geography_section__map_img_mob">
      </div>
    </div>
  </div>
</div>
<!-- География END -->

<!-- Связаться -->
<div class="feedback_section">
  <div class="container2">
    <div class="text_center">
      <button data-popup="contact" type="button" class="feedback_button">
        <span class="feedback_button__text">— Связаться — Связаться — Связаться —</span>
      </button>
    </div>
  </div>
</div>
<!-- Связаться END -->

{{/content}}
{{/extend}}