{{#extend "layout"}}
{{#content "main"}}

<div class="js-first-block"></div>

<ul class="breadcrumbs container2">
  <li>
    <a href="./index.html">Главная</a>
  </li>
  <li>
    <a href="./catalog.html">Продукция</a>
  </li>
  <li>
    <a href="./catalog-item.html">Напыляемая шумоизоляция и Антикоррозионные материалы</a>
  </li>
  <li>
    <a href="#">Напыляемая шумоизоляция LOTOS MULTIPLEX</a>
  </li>
</ul>

<div class="container2 productDetailPage">
  <div class="productDetail">
    <div class="productDetail__left">
      <div class="productDetail__img">
        <img src="img/product.png" alt="">
        <button class="productDetail__button productDetail__button--desktop" data-popup="order" type="button">Заказать</button>
        <button class="productDetail__button productDetail__button--mobile" data-popup="order" type="button">Заказать</button>
      </div>
    </div>
    <div class="productDetail__right">
      <div class="productDetail__block">
        <p class="productDetail__title">Описание</p>
        <div class="productDetail__text">
          LOTOS MULTIPLEX представляет собой специальный звукоизолирующий тиксотропный антикоррозионный состав в
          высокоочищенном деароматизированном растворителе с функциональными добавками для шумоизоляции. Отличительная
          особенность данного продукта –это практически полное отсутствие запаха. Из состава данного продукта исключены
          наиболее пахучие и токсичные ароматические углеводороды.
        </div>
      </div>
      <div class="productDetail__block">
        <p class="productDetail__title">Сфера применения</p>
        <div class="productDetail__adv">
          <div>
            <div class="productDetail__adv__icon">
              <span class="icon-valume"></span>
            </div>
            <div class="productDetail__adv__content">
              <p class="productDetail__adv__title">Шумоизоляция</p>
              <div class="productDetail__adv__text">
                LOTOS MULTIPLEX предназначен для значительно снижения уровня шума и вибрации в салоне транспортного
                средства.
              </div>
            </div>
          </div>
          <div>
            <div class="productDetail__adv__icon">
              <span class="icon-shield"></span>
            </div>
            <div class="productDetail__adv__content">
              <p class="productDetail__adv__title">Защита от реагентов</p>
              <div class="productDetail__adv__text">
                Состав обладает высоким сопротивлением абразивному износу и коррозии, обеспечивает долговечную защиту от
                дорожных химических реагентов.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="productDetail__block">
        <p class="productDetail__title">Способ применения</p>
        <ul class="productDetail__appMethods">
          <li>
            <div class="productDetail__appMethods__num">01</div>
            <div class="productDetail__appMethods__text">
              Очистить обрабатываемую поверхность от ржавчины, масел и грязи. Дать поверхности хорошо высохнуть.
            </div>
          </li>
          <li>
            <div class="productDetail__appMethods__num">02</div>
            <div class="productDetail__appMethods__text">
              Перед нанесением тщательно встряхнуть баллон, в течение 2–3 минут.
            </div>
          </li>
          <li>
            <div class="productDetail__appMethods__num">03</div>
            <div class="productDetail__appMethods__text">
              Равномерно нанести материал на поверхность при помощи пистолета для нанесения антигравийных и
              антикоррозийных составов, под давлением 2,0–6,0 атм., с расстояния 30 см. Продукт также может быть нанесен
              кистью, валиком без образования подтеков. Рекомендуемая температура нанесения 10–30℃
            </div>
          </li>
        </ul>
      </div>
      <div class="productDetail__block">
        <p class="productDetail__title">Технические характеристики</p>
        <ul class="productDetail__characteristic">
          <li>
            <div>
              Цвет покрытия
            </div>
            <div class="productDetail__value">
              Коричневый
            </div>
          </li>
          <li>
            <div>
              Внешний вид покрытия
            </div>
            <div class="productDetail__value">
              Структурированное, однородное
            </div>
          </li>
          <li>
            <div>
              Плотность при температуре (20±0,5) °С, г/см3
            </div>
            <div class="productDetail__value">
              1,07
            </div>
          </li>
          <li>
            <div>
              Массовая доля нелетучих веществ, %
            </div>
            <div class="productDetail__value">
              63,5
            </div>
          </li>
          <li>
            <div>
              Рекомендуемая толщина сухого покрытия, мкм
            </div>
            <div class="productDetail__value">
              500 – 700
            </div>
          </li>
          <li>
            <div>
              Температурный интервал эксплуатации, °С
            </div>
            <div class="productDetail__value">
              –40...+120
            </div>
          </li>
          <li>
            <div>
              Температура нанесения, °С
            </div>
            <div class="productDetail__value">
              10 – 30
            </div>
          </li>
          <li>
            <div>
              Время высыхания покрытия до степени 3, при температуре (20±0,5) °С, час
            </div>
            <div class="productDetail__value">
              24
            </div>
          </li>
          <li>
            <div>
              Воздействие на ЛКП
            </div>
            <div class="productDetail__value">
              Отсутствует
            </div>
          </li>
          <li>
            <div>
              Защитные свойства покрытия при воздействии соляного тумана, час
            </div>
            <div class="productDetail__value">
              Не менее 1000
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <p class="h1 mb55">Похожие товары</p>
  <div class="catalog">
    <a href="#" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
    <a href="#" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
    <a href="#" class="catalogItem">
      <div class="catalogItem__img">
        <img src="img/product.png" alt="">
      </div>
      <span class="catalogItem__button" href="#">Заказать</span>
      <p class="catalogItem__name">Напыляемая шумоизоляция LOTOS MULTIPLEX</p>
    </a>
  </div>
</div>

{{/content}}
{{/extend}}