// Заголовки
%fs-h1 {
  @include clamp(36, 64);
  line-height: 1.1;
  font-weight: 700;
}
%fs-h2 {
  @include clamp(24, 50);
  line-height: 1.1;
  font-weight: 700;
}
%fs-h3 {
  @include clamp(20, 32);
  line-height: 1.1;
  font-weight: 500;
}
%fs-h4 {
  @include clamp(18, 24);
  line-height: 1.1;
  font-weight: 500;
}

// Наборный текст
%fs-t1 {
  @include clamp(14, 20);
  line-height: 1.2;
  font-weight: 500;
}
%fs-t2 {
  @include clamp(14, 16);
  line-height: 1.2;
  font-weight: 500;
}
%fs-t3 {
  @include clamp(13, 16);
  line-height: 1.4;
  font-weight: 400;
}
%fs-t4 {
  @include clamp(14, 15);
  line-height: 1.1;
  font-weight: 400;
}
%fs-t5 {
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
}
%fs-t6 {
  font-size: 14px;
  line-height: 1.1;
  font-weight: 300;
}

// Кнопки
%fs-b1 {
  @include clamp(20, 24);
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
%fs-b2 {
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}