@import './global/variables';
@import './global/fonts';
@import './global/animations';
@import './global/vendor';
@import './global/mixins';
@import './global/extends';
@import './global/global';
@import './global/layout';

@import './components/header';
@import './components/footer';
@import './components/breadcrumbs';
@import './components/socials';

@import './components/ui-kit';

@import './components/banner';
@import './components/catalog';
@import './components/features';
@import './components/feedback';
@import './components/fixed_car_video';
@import './components/geography';
@import './components/orderPopup';
@import './components/output';
@import './components/partners';
@import './components/popup';
@import './components/productDetail';
@import './components/production';
@import './components/go_next';
@import './components/preloader';
@import './components/car_video';
@import './components/form';
@import './components/mob_menu';
@import './components/intro-text';
@import './components/cards';
@import './components/steps';
@import './components/partners--new';
@import './components/contacts';
@import './components/contacts-form';
@import './components/intro-accent';
@import './components/certificates';
@import './components/video-block';
@import './components/benefits';